<div class="row bg">
  <div class="col-md-1 col-0"></div>
  <div class="col-md-5 col-12 text-white" style="text-align: left;vertical-align:middle;margin-top: 150px;"> 
    <h1 class="display-4" style="font:bold;">Learn a language by speaking</h1><br/>
    <p>Learn over 50 languages with 6,000+ teachers on the most advanced language learning platform in the world.</p><br/>
    <div class="input-group dropdown">
      <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" data-dropup-auto="false" placeholder="I'm Learning">
      <div class="input-group-append">
        <button type=button class="btn btn-primary">Book Free Trial</button>
      </div>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1fa-1f1f8.png?v=2.2.7"/>&nbsp;English</a>
          <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ea-1f1f8.png?v=2.2.7"/>&nbsp;Spanish</a>
          <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1eb-1f1f7.png?v=2.2.7"/>&nbsp;German</a>
          <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ee-1f1f9.png?v=2.2.7"/>&nbsp;Italian</a>
          <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ef-1f1f5.png?v=2.2.7"/>&nbsp;Japanese</a>
        </div>
      </div>
  </div>
  <div class="col-md-5 col-0" style="text-align:center;margin-top: 200px;">
    <p></p>
  </div>
  <div class="col-md-1 col-0"></div>
</div>
