<div class="jumbotron text-center row" style="background:black;margin-bottom:0;text-align: left">
    <div class="col-6 col-md-3" style="text-align: left">
        <h4 class="text-muted" style="margin-left: 40px">Verbling</h4>
        <ul class="text-white">
          <li style="list-style: none"><a href="#" class="text-white">Apply to Teach</a></li>
          <li style="list-style: none"><a href="#" class="text-white">Mobile Apps</a></li>
          <li style="list-style: none"><a href="#" class="text-white">Community</a></li>
          <li style="list-style: none"><a href="#" class="text-white">About</a></li>
          <li style="list-style: none"><a href="#" class="text-white">Enterprise</a></li>
          <li style="list-style: none"><a href="#" class="text-white">Support</a></li>
          <li style="list-style: none"><a href="#" class="text-white">The Verbling Language Game</a></li>
          <li style="list-style: none"><a href="#" class="text-white">Privacy</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3" style="text-align: left">
          <h4 class="text-muted" style="margin-left: 40px">Teachers</h4>
          <ul class="text-white">
            <li style="list-style: none"><a href="#" class="text-white">Apply to Teach</a></li>
            <li style="list-style: none"><a href="#" class="text-white">Mobile Apps</a></li>
            <li style="list-style: none"><a href="#" class="text-white">Community</a></li>
            <li style="list-style: none"><a href="#" class="text-white">About</a></li>
            <li style="list-style: none"><a href="#" class="text-white">Enterprise</a></li>
            <li style="list-style: none"><a href="#" class="text-white">Support</a></li>
            <li style="list-style: none"><a href="#" class="text-white">The Verbling Language Game</a></li>
            <li style="list-style: none"><a href="#" class="text-white">Privacy</a></li>
          </ul>
      </div>
      <div class="col-6 col-md-3" style="text-align: left">
          <h4 class="text-muted" style="margin-left: 40px">Languages</h4>
          <ul class="text-white">
            <li style="list-style: none"><a href="#" class="text-white">Apply to Teach</a></li>
            <li style="list-style: none"><a href="#" class="text-white">Mobile Apps</a></li>
            <li style="list-style: none"><a href="#" class="text-white">Community</a></li>
            <li style="list-style: none"><a href="#" class="text-white">About</a></li>
            <li style="list-style: none"><a href="#" class="text-white">Enterprise</a></li>
            <li style="list-style: none"><a href="#" class="text-white">Support</a></li>
            <li style="list-style: none"><a href="#" class="text-white">The Verbling Language Game</a></li>
            <li style="list-style: none"><a href="#" class="text-white">Privacy</a></li>
          </ul>
      </div>
      <div class="col-6 col-md-3" style="text-align: left">
          <h4 class="text-muted" style="margin-left: 40px">Social</h4>
          <ul class="text-white">
            <li style="list-style: none"><a href="#" class="text-white"><img src="https://cdn.verbling.com/static/svg/icons8/5760a171ebc6096f738e2431752ca019.icons8-facebook.svg"style="width:40px">Facebook</a></li>
            <li style="list-style: none"><a href="#" class="text-white"><img src="https://cdn.verbling.com/static/svg/icons8/3de4c9fb53165f652df40ab54a995bd2.icons8-twitter.svg"style="width:40px">Twitter</a></li>
            <li style="list-style: none"><a href="#" class="text-white"><img src="https://cdn.verbling.com/static/svg/icons8/45abcea91a0432902e98c5db1ea83df0.icons8-instagram_new.svg" style="width:40px">Instagram</a></li>
            <li style="list-style: none;margin-top:1px">
              <div class="dropup">
                  <button type="button" class="btn btn-outline-light text-white dropdown-toggle" data-toggle="dropdown">
                    $-NZD
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                  </div>
                </div>
            </li>
            <li style="list-style: none;margin-top:10px">
              <div class="dropup">
                <button type="button" class="btn btn-outline-light text-white dropdown-toggle" data-toggle="dropdown">
                  English
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1fa-1f1f8.png?v=2.2.7"/>&nbsp;English</a>
                    <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ea-1f1f8.png?v=2.2.7"/>&nbsp;Spanish</a>
                    <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1eb-1f1f7.png?v=2.2.7"/>&nbsp;German</a>
                    <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ee-1f1f9.png?v=2.2.7"/>&nbsp;Italian</a>
                    <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ef-1f1f5.png?v=2.2.7"/>&nbsp;Japanese</a>
                </div>
              </div></li>
          </ul>
      </div>
</div>