<h2 class="text-dark" style="margin-top:20px;font-weight: bold;"><a class="text-primary" href="#">6000+ Teachers.</a>&nbsp;Any Language</h2>
<p class="text-muted">The Best Way to Learn</p>
<div class="row">
    <div class="col-md-4 col-12">
        <div>
            <span style="font-weight: bold"><img src="https://cdn.verbling.com/static/svg/icons8/6aa4609df05914e479b0dd25e4a135f8.icons8-classroom.svg"/>Professional teachers</span>
            <p style="text-align:left;margin-left:80px;">Verbling’s 6,000+ teachers are professional native-speaking teachers who have passed Verbling’s selective application process.</p>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div>
            <span style="font-weight: bold"><img style="width:45px;" src="https://cdn.verbling.com/static/svg/icons8/8c823fb95a34df65d6c182c2a1cf7d50.icons8-video_conference.svg"/>Integrated platform</span>
            <p style="text-align:left;margin-left:85px;">Everything is in one place. No extra downloads, no extra logins. Purchase and take lessons right in your browser, and review all your materials, too.</p>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div>
            <span style="font-weight: bold"><img src="https://cdn.verbling.com/static/svg/icons8/564abb3512e1d7ae3ebb4694d57c3d98.icons8-toolbox.svg"/>Language tools</span>
            <p style="text-align:left;margin-left:100px;">Collaborative textpads, flashcards, sentence corrections, and more. Verbling’s integrated platform was developed from the ground-up for language learning.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-12">
        <div>
            <span style="font-weight: bold"><img style="width:45px;" src="https://cdn.verbling.com/static/svg/icons8/4c68d9752e2185c37a6558d7689682ec.icons8-smartphone_tablet.svg"/>Multi-device support</span>
            <p style="text-align:left;margin-left:80px;">Verbling lessons are supported on desktop, iOS, and Android devices so you can learn from anywhere on any device.</p>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div>
            <span style="font-weight: bold"><img style="width:45px;" src="https://cdn.verbling.com/static/svg/icons8/a55dee167e15cc15d10d37553745b355.icons8-goal.svg"/>Personalized education</span>
            <p style="text-align:left;margin-left:85px;">Our teachers work with you to develop a custom curriculum that’s right for you to ensure that you reach your goals.</p>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div>
            <span style="font-weight: bold"><img src="https://cdn.verbling.com/static/svg/icons8/d6e8c342fcfdb00c149b3be903defabd.icons8-volunteering.svg"/>Global community</span>
            <p style="text-align:left;margin-left:100px;">Join a community of language-lovers from around the world. Answer questions, start discussions, and meet new friends.</p>
        </div>
    </div>
</div>