<h2>What language do you want to learn?</h2>
<div class="container">
  <div class="row">
  <div class="col-12 col-md-4">
    <div class="card" style="width:300px;margin-left: 10px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px">
      <img class="card-img-top" src="https://cdn.verbling.com/static/img/landing/fa6384beb643f1301cb7ef498a4c8f06.card-english.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
          <div class="row" style="text-align: center;margin-left: 20px;">
            <img alt="Flag" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1fa-1f1f8.png?v=2.2.7" width="44" height="44" style="max-width:none" class="Flag">
            <div class="flex flex-1 flex-direction-column flex-justify-content-space-between">
              <h4>English<small>English</small></h4>
              <p style="font-size:12px">760m speakers</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
      <div class="card" style="width:300px;margin-left: 10px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px">
        <img class="card-img-top" src="https://cdn.verbling.com/static/img/landing/24661a8e34f2c581fc1cfd824080869e.card-spanish.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <div class="row" style="text-align: center;margin-left: 20px;">
              <img alt="Flag" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ea-1f1f8.png?v=2.2.7" width="44" height="44" style="max-width:none" class="Flag">
              <div class="flex flex-1 flex-direction-column flex-justify-content-space-between">
                <h4>Spanish<small>Spanish</small></h4>
                <p style="font-size:12px">760m speakers</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card" style="width:300px;margin-left: 10px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px">
          <img class="card-img-top" src="https://cdn.verbling.com/static/img/landing/5d01f9dcc4a240ef44f4cfa71ed0352a.card-italian.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
              <div class="row" style="text-align: center;margin-left: 20px;">
                <img alt="Flag" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ee-1f1f9.png?v=2.2.7" width="44" height="44" style="max-width:none" class="Flag">
                <div class="flex flex-1 flex-direction-column flex-justify-content-space-between">
                  <h4>Italian<small>Italian</small></h4>
                  <p style="font-size:12px">760m speakers</p>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>
<div class="row">
    <div class="col-12 col-md-4">
      <div class="card" style="width:300px;margin-left: 10px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px">
        <img class="card-img-top" src="https://cdn.verbling.com/static/img/landing/656ac319fd59325614b321b408eff1d0.card-german.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <div class="row" style="text-align: center;margin-left: 20px;">
              <img alt="Flag" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ef-1f1f5.png?v=2.2.7" width="44" height="44" style="max-width:none" class="Flag">
              <div class="flex flex-1 flex-direction-column flex-justify-content-space-between">
                <h4>Japanese<small>Japanese</small></h4>
                <p style="font-size:12px">760m speakers</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card" style="width:300px;margin-left: 10px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px">
          <img class="card-img-top" src="https://cdn.verbling.com/static/img/landing/40ceae84961e343ddf7747cb28fc347f.card-korean.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
              <div class="row" style="text-align: center;margin-left: 20px;">
                <img alt="Flag" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1f0-1f1f7.png?v=2.2.7" width="44" height="44" style="max-width:none" class="Flag">
                <div class="flex flex-1 flex-direction-column flex-justify-content-space-between">
                  <h4>Koeran<small>Koeran</small></h4>
                  <p style="font-size:12px">760m speakers</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
          <div class="card" style="width:300px;margin-left: 10px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px">
            <img class="card-img-top" src="https://cdn.verbling.com/static/img/landing/db048d935fa3a0cc7e23a81099361453.card-french.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <div class="row" style="text-align: center;margin-left: 20px;">
                  <img alt="Flag" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1eb-1f1f7.png?v=2.2.7" width="44" height="44" style="max-width:none" class="Flag">
                  <div class="flex flex-1 flex-direction-column flex-justify-content-space-between">
                    <h4>French<small>French</small></h4>
                    <p style="font-size:12px">760m speakers</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
  </div>
  <h5 style="margin-top:30px">We have teachers in 58 languages! <a href="#" class="text-primary">Browse them now</a></h5>
</div>