<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid" style="text-align:center;max-width:100%;margin:0px;">
  <app-nav-bar></app-nav-bar>
  <div class="bg">
    <app-header></app-header>
  </div>
  <div style="text-align:center;margin-top:580px;display: block;">
    <img class="img-fluid" style="width:80px;margin:15px" src="https://cdn.verbling.com/static/img/landing/media/f26a9c126c0d2ea4cb15fde73eb14e79.logo-bbc-min.jpg"/>
    <img class="img-fluid" style="width:100px;margin:15px" src="https://cdn.verbling.com/static/img/landing/media/634d39212f504ab661a6e315cd35e6d9.logo-forbes-min.jpg"/>
    <img class="img-fluid" style="width:150px;margin:15px" src="https://cdn.verbling.com/static/img/landing/media/a9781588c7b02320eb82004c75fcab0e.logo-mashable-min.jpg"/>
    <img class="img-fluid" style="width:180px;margin:15px" src="https://cdn.verbling.com/static/img/landing/media/4838e2101129cfcbe43127f6423adc37.logo-techcrunch-min.jpg"/>
    <img class="img-fluid" style="width:180px;margin:15px" src="https://cdn.verbling.com/static/img/landing/media/e324ab00d7cf992677de9635e557921b.logo-venturebeat-min.jpg"/>
  </div>
  <div class="bg2" style="text-align:center;float:none;">
    <app-ad></app-ad>
  </div>
  <br/><br/>
  <div style="text-align:center;float:none;">
    <app-scroll></app-scroll>
  </div>
  <br/><br/>
  <div style="text-align:center;float:none;margin-top:20px;">
    <app-select></app-select>
  </div>
  <div style="text-align:center;float:none;margin-top:60px;">
    <app-enterprise></app-enterprise>
  </div>
  <div style="text-align:center;float:none;margin-top:60px;">
    <app-testimonials></app-testimonials>
  </div>
  <div style="text-align:center;float:none;margin-top:60px;">
      <img src="https://cdn.verbling.com/static/svg/icons8/fcd836b5e000e2b4dd5793f86cfd91ef.icons8-launched_rocket.svg" class="img_fluid" style="width:150px">
      <h1 style="font-weight: bold">Let's get started!</h1>
      <button type="button" class="btn-rounder margin-top-xl btn-outline btn-tall btn btn-lg btn-default">Book Free Trial</button>
  </div>
  <div style="text-align:center;float:none;margin-top:60px;">
      <app-footer></app-footer>
  </div>
  <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <div class="modal-header" style="text-align: right">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <div class="modal-body">
              <img src="https://cdn.verbling.com/static/svg/6fa1864fd902094a6bb600ebf9368d96.logo.svg"  style="text-align: center">
              <div class="row"  style="text-align: left"><div class="col"><form><div class="form-group--focuser form-group"><label>Email/Username</label><input name="email" placeholder="Email" autocomplete="email" class="form-control--focuser form-control" value=""></div><div class="form-group--focuser form-group"><label>Password</label><input autocomplete="current-password" name="password" placeholder="Password" type="password" class="form-control--focuser form-control" value=""></div><input type="submit" style="width: 0px; height: 0px; overflow: hidden; opacity: 0; position: absolute; top: -50000px;"></form></div></div>
              <div class="row" style="text-align: center"><div class="col-12"><button type="submit" class="btn btn-default btn-block">Log In</button></div></div>
          </div>
          <div>
              
              
          </div>
     

          <div class="modal-footer">
              <div class="row text-center margin-top-xl text-small"><div class="col"><button type="button" class="text-small pull-left btn-link--inline btn btn-link">Forgot Password?</button><button type="button" class="text-small pull-right btn-link--inline btn btn-link">Create New Account</button></div></div>
          </div>
     
        </div>
      </div>
    </div>
</div>

