<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>
<div class="container-fluid" style="text-align:center;width:100%;margin:0px;padding:0px;">
  <div class="bg">
    <app-header></app-header>
  </div>
  <div style="text-align:center;margin-top:580px;display: block;">
    <img class="img-fluid" style="width:80px;margin:15px" src="https://cdn.verbling.com/static/img/landing/media/f26a9c126c0d2ea4cb15fde73eb14e79.logo-bbc-min.jpg"/>
    <img class="img-fluid" style="width:100px;margin:15px" src="https://cdn.verbling.com/static/img/landing/media/634d39212f504ab661a6e315cd35e6d9.logo-forbes-min.jpg"/>
    <img class="img-fluid" style="width:150px;margin:15px" src="https://cdn.verbling.com/static/img/landing/media/a9781588c7b02320eb82004c75fcab0e.logo-mashable-min.jpg"/>
    <img class="img-fluid" style="width:180px;margin:15px" src="https://cdn.verbling.com/static/img/landing/media/4838e2101129cfcbe43127f6423adc37.logo-techcrunch-min.jpg"/>
    <img class="img-fluid" style="width:180px;margin:15px" src="https://cdn.verbling.com/static/img/landing/media/e324ab00d7cf992677de9635e557921b.logo-venturebeat-min.jpg"/>
  </div>
  <div class="bg2" style="text-align:center;float:none;">
    <app-ad></app-ad>
  </div>
  <div style="text-align:center;float:none;">
    <app-scroll></app-scroll>
  </div>
</div>

