<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Find a Teacher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Enterprise</a>
          </li>  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Community
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.verbling.com/static/svg/icons8/2ff29f72b10f9eddac8658589cedd72d.icons8-globe.svg"/>&nbsp;Overview</a>
                <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.verbling.com/static/svg/icons8/85f715af4c035c1d643417021b049e25.icons8-talk.svg"/>&nbsp;Questions</a>
                <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.verbling.com/static/svg/icons8/4de3651baca5f9339af3f5ebd5452c72.icons8-collaboration_female_male.svg"/>&nbsp;Discussions</a>
                <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.verbling.com/static/svg/icons8/10a74a8ac4d1cb164b34b9b57f2bd4cd.icons8-news.svg"/>&nbsp;Articles</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                More
              </a>
              <div class="dropdown-menu" style="text-align: center;">
                  <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.verbling.com/static/svg/icons8/0338c97379ba123ac3fef51ba1b3fca4.icons8-gift.svg"/>Buy a gift</a>
                  <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.verbling.com/static/svg/icons8/29952406d8949e57b7ac5aaf568776f0.icons8-briefcase.svg"/>Enterprise</a>
                  <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.verbling.com/static/svg/icons8/d041ba1a6491cfbaa507e03122c39b72.icons8-payroll.svg"/>Apply to Teach</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Site Language
                  </a>
                  <div class="dropdown-menu" style="text-align: center;">
                      <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1fa-1f1f8.png?v=2.2.7"/>&nbsp;English</a>
                      <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ea-1f1f8.png?v=2.2.7"/>&nbsp;Spanish</a>
                      <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1eb-1f1f7.png?v=2.2.7"/>&nbsp;German</a>
                      <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ee-1f1f9.png?v=2.2.7"/>&nbsp;Italian</a>
                      <a class="dropdown-item" href="#"><img class="img-fluid" style="width:30px;" src="https://cdn.jsdelivr.net/emojione/assets/png/1f1ef-1f1f5.png?v=2.2.7"/>&nbsp;Japanese</a>
                  </div>
                </li>
                <li class="nav-item" style="margin-left:30px;margin-top:5px">
                  <a href="#" data-toggle="modal" data-target="#myModal">login</a>
                </li>
                <li class="nav-item" style="margin-left:30px">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">signup</button>
                  </li>
          </ul> 
  </div>
</nav>